:root{
    --primary: #E3352C;
    --secondary: #3B4CCA;
    --accent: #FFCB05;
    --bg: #F5F7FA;
    --card: #FFFFFF;
    --text: #1A1A2E;
}

body{
    background-color: var(--bg);  /* change for background #f5f0e6*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:var(--secondary);
}

.wrapper{
    width: 50rem;
    margin: 0 auto;
}

.title{
    text-align: center;
    color: var(--tertiary-colour);
    margin-bottom: 2rem;
}

.nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--primary);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav a:visited{
    text-decoration: none;
}

.nav a{
    text-decoration: none;
    color: var(--card);
}